
@{
    ViewData["Title"] = "TDDemo_One";
}

<h1>ViewBag, ViewData and TempData Demo</h1>

<h3>ViewBag: @ViewBag.vbTitle</h3>
<br />
<h3>ViewData: @ViewData["vdTitle"]</h3>
<br />
<h3>TempData: @TempData["tdTitle"]</h3>

